<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">User-Auth</a>
  <div class="mr-auto" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
    </div>
  </div>
  <form action="/home/logout" method="GET">
    <button class="btn btn-outline-success mr-auto my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>